{% macro render_field(field) %}
<div class="form-group row">
    <label for="{{ field.name }}" class="col-lg-2 control-label">{{ field.label.text.capitalize() }}</label>
    <div class="col-lg-10">
        {% if field.errors %}
            {{ field(class='form-control is-invalid', **kwargs)|safe }}
        {% else %}
            {{ field(class='form-control', **kwargs)|safe }}
        {% endif %}
        {% for error in field.errors %}
        <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
    </div>
</div>
{% endmacro %}