{% extends "base.html" %} {% block content %}
{% from "_render_field.html" import render_field, render_select_field, render_text_field %}


<div class="card text-white bg-dark form-card-size">
  <div class="card-header">
    <strong>Add Item</strong>
  </div>
  <div class="card-body form-card">
    <form method="POST" action="{{ url_for('url.add_item') }}">
      {{ form.hidden_tag() }}
      {{ render_select_field(form.category_id) }}
      {{ render_field(form.name, placeholder=form.name.label.text) }}
      {{ render_text_field(form.description, rows=3) }}
      <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
  </form>
  </div>
</div>
{% endblock %}