<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> {% if title %}
  <title>Catalog - {{ title }}</title>
  {% else %}
  <title>Catalog</title>
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-social.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
  

</head>

<body>
  <nav class="navbar navbar-dark bg-dark navbar-expand-sm d-flex flex-row">
    <a class="navbar-brand flex-grow-1" href="{{ url_for('url.index') }}">Catalog</a>
    {% if current_user.is_authenticated %}
    <img src="{{ current_user.avatar }}" alt="Avatar" class="avatar">
    <span class="navbar-text user-email">{{ current_user.email }}</span>
    <a class="" href="{{ url_for('url.logout') }}">
      <button type="button" class="btn btn-danger">Logout</button>
    </a>
    {% else %}
    <a href="{{ url_for('url.login') }}">
      <button type="button" class="btn btn-success align-self-end">Login</button>
    </a>
    {% endif %}
  </nav>
  <div class="main-content">
    <div class="container">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
      <div class="alert-area">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}" role="alert">
          {{ message }}
        </div>
        {% endfor %}
      </div>
      {% endif %} {% endwith %} {% block content %}{% endblock %}
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>

</html>