{% extends "base.html" %} {% block content %}
<div class="row">
  <div class="col-sm-4">
    <div class="card text-white bg-dark">
      <div class="card-header d-flex">
        <strong class="flex-grow-1">Categories</strong>
        <a class="card-link btn-link {% if current_user.is_authenticated %}{% else %}disabled{% endif %}" href="{{ url_for('url.add_category') }}">Add</a>
      </div>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
          Dapibus ac facilisis in
          <span class="badge badge-primary badge-pill">14</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
        <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
        <a href="#" class="list-group-item list-group-item-action">Vestibulum at eros</a>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="card text-white bg-dark">
      <div class="card-header d-flex">
        <strong class="flex-grow-1">Items</strong>
        <a class="card-link btn-link {% if current_user.is_authenticated %}{% else %}disabled{% endif %}" href="#">Add</a>
      </div>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
        <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
        <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
        <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
        <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
        <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
        <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}