{% extends "base.html" %} {% block content %}
<div class="row">
  <div class="col-sm-4">
    <div class="card text-white bg-dark">
      <div class="card-header d-flex">
        <strong class="flex-grow-1">Categories</strong>
        <a class="card-link btn-link {% if current_user.is_authenticated %}{% else %}disabled{% endif %}" href="{{ url_for('url.add_category') }}">Add</a>
      </div>
      <div class="list-group list-group-flush">
        {% for category in categories %}
        <a href="#" class="list-group-item list-group-item-action">{{ category.name }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="card text-white bg-dark">
      <div class="card-header d-flex">
        <strong class="flex-grow-1">Items</strong>
        <a class="card-link btn-link {% if current_user.is_authenticated %}{% else %}disabled{% endif %}" href="{{ url_for('url.add_item') }}">Add</a>
      </div>
      <div class="list-group list-group-flush">
        {% for item in items %}
        <a href="#" class="list-group-item list-group-item-action">{{ item.name }} ({{ item.category.name}})</a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock content %}