{% extends "base.html" %} {% block content %}
{% if current_user.is_authenticated %}
<div class="row">
  <div class="col-sm-4">
    <div class="card text-white bg-dark">
      <div class="card-header d-flex">
        <span class="flex-grow-1">Categories</span>
        {% if not current_category_id %}
        <a class="card-link btn-link {% if not current_user.is_authenticated %}disabled{% endif %}" href="{{ url_for('url.add_category') }}">Add</a>
        {% else %}
        <a class="card-link btn-link {% if not current_user.is_authenticated %}disabled{% endif %}" href="{{ url_for('url.edit_category', category_id=current_category_id) }}">Edit</a>
        <a class="card-link btn-link {% if not current_user.is_authenticated %}disabled{% endif %}" href="{{ url_for('url.delete_category', category_id=current_category_id) }}">Delete</a>
        {% endif %}
      </div>
      <div class="list-group list-group-flush">
        {% for category in categories %}
        <a href="{{ url_for('url.category_items', category_id=category.id) }}" class="d-flex list-group-item list-group-item-action {% if current_category_id == category.id %}active{% endif %}">
          <span class="flex-grow-1">{{ category.name }}</span>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="card text-white bg-dark">
      <div class="card-header d-flex">
        <span class="flex-grow-1">Items</span>
        <a class="card-link btn-link {% if current_user.is_authenticated %}{% else %}disabled{% endif %}" href="{{ url_for('url.add_item') }}">Add</a>
      </div>
      <div class="list-group list-group-flush">
        {% for item in items %}
        <a href="{{ url_for('url.item_detail', item_id=item.id) }}" class="list-group-item list-group-item-action">{{ item.name }} <span class="text-muted">({{ item.category.name}})</span></a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock content %}