html {
  height: 100%;
}

body {
  height: 100%;
}

.main-content {
  height: 100%;
  margin-top: 10px;
  background-image: url("../img/doodles.png");
}

.alert-area {
}

.user-email {
  padding-right: 10px;
}

.avatar {
  vertical-align: middle;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px 
}
